<a href="https://colab.research.google.com/github/Arnav835/panda/blob/main/Pandas_1st(mini_assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [9]:
import pandas as pd
students = pd.Series(["arnav","yash","shivam","umang","sumit"])
marks = pd.Series([20,48,26,18,92])
city = pd.Series(["noida","pune","mumbai","goa","lucknow"])
temp = pd.Series([2.4,5.3,4.2,6.5,4.7])
df = pd.concat([students,marks,city,temp], axis=1)
print(df)

        0   1        2    3
0   arnav  20    noida  2.4
1    yash  48     pune  5.3
2  shivam  26   mumbai  4.2
3   umang  18      goa  6.5
4   sumit  92  lucknow  4.7

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [14]:
import pandas as pd
student = pd.Series(["arnav","yash","shivam","umang","sumit"])
ages = pd.Series([23,21,20,22,24])
product_name = pd.Series(["rcb","csk","mi","kkr","srh"])
price = pd.Series([200,170,150,210,200])
quantity = pd.Series([10,5,20,45,24])
df = pd.concat([student,ages,product_name,price,quantity], axis=1)
print(df)

        0   1    2    3   4
0   arnav  23  rcb  200  10
1    yash  21  csk  170   5
2  shivam  20   mi  150  20
3   umang  22  kkr  210  45
4   sumit  24  srh  200  24

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [17]:
import pandas as pd
dict = {
    'Name' : ["arnav","yash","sumit"],
    'Age' : [23,22,20],
    'City' : ["noida","delhi","pune"],
    'Product' : ["abc","mno","xyz"],
    'Category' : ["oo","nn","pp"],
    'Price' : [2000,3000,1000]
}

df=pd.DataFrame(dict)
print(df)

    Name  Age   City Product Category  Price
0  arnav   23  noida     abc       oo   2000
1   yash   22  delhi     mno       nn   3000
2  sumit   20   pune     xyz       pp   1000

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [28]:
from google.colab import files
files.download("students.csv")
df.to_excel("products.xlsx")

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [30]:
df = pd.read_csv("students.csv")
print(df)
df = pd.read_excel("products.xlsx")
print(df)

   Unnamed: 0   Name  Age   City Product Category  Price
0           0  arnav   23  noida     abc       oo   2000
1           1   yash   22  delhi     mno       nn   3000
2           2  sumit   20   pune     xyz       pp   1000
   Unnamed: 0   Name  Age   City Product Category  Price
0           0  arnav   23  noida     abc       oo   2000
1           1   yash   22  delhi     mno       nn   3000
2           2  sumit   20   pune     xyz       pp   1000